@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: stacker;
  src: url("../fonts/stacker.ttf");
}

body {
  --black: #111111;
  --white: #fdfdfd;
  --cyan: #18e4ec;
  --blue: #0055ff;
  --purple: #6f07d6;
  --pink: #eb37c5;

  background-color: var(--black);
}

/* for hero */
.clipText {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
